.social
  .fb-share-button span
    vertical-align: top!important

  &.horizontal
  &.vertical
    & > div
    & > iframe
      display: block
      margin: 0 0 1em 0

      &:last-child
        margin-bottom: 0

  &.horizontal
    & > div
    & > iframe
      float: left
      margin: 0 1em 0 0

      &:last-child
        margin-right: 0