.social
  .fb-share-button span
    vertical-align: top!important

  &.horizontal
  &.vertical
    & > div
    & > iframe
      display: inline-block
      margin: 1em 0 1em 1em

  &.horizontal
    & > div
    & > iframe
      float: left

  &.vertical
    & > div
    & > iframe
      display: block
