@import '../base/defaults'

/**
 * Content Delivery Module configuration.
 *
 * $cdn = The location of our CDN server'//versions.nodejitsu.com/id:browsenpm'
 */
$cdn = ''

/**
 * Sprite & image locations
 *
 * $sprite-grid = The size of 1 block in the sprite.psd grid
 * $sprite-location = The actual sprite location
 * $sprite-trusted = Trusted companies logos
 * $sprite-carousel = Logos that we don't have in our fonts
 */
$sprite-location = $cdn '/img/sprite.png'
$sprite-spinner = $cdn '/img/spinner.gif'

/**
 * Colors
 */

// base
$link = #4183C4
$dark-gray = #444
$light-gray = #989898
$background = #FFF
$link-hover = darken($link, 50%)
$divider = #B7B7B7
$base-color = #000

// Navigation
$nav-active-bg-top = rgba(255, 255, 255, .6)
$active-background = #E9F4FF
$active-border = #CAE9F9

/**
 * Typography
 */
$font-size = 15px
$line-height = 1.5em
