@import "../defaults"

.creditcard
  .valid
    background: $alert-success-background

  .invalid
    background: $alert-error-background

@media handheld, only screen and (max-width: 767px)
  .row .expiration select.sixcol
    margin: 20px 0
    width: 100%