@import "../defaults"

.social
  padding: 0

  li
    display: inline-block
    float: left

  a
    color: lighten($base-color, 80%)
    font-size: 25px
    margin-right: 10px

    &:hover
    &:active
      color: lighten($base-color, 30%)
      text-decoration: none