<ul class="social">
  {{#twitter}}
  <li>
    <a href="https://twitter.com/{{.}}" class="ss-twitter ss-social-circle" title="Follow @{{.}} on Twitter"></a>
  </li>
  {{/twitter}}
  {{#github}}
  <li>
    <a href="https://github.com/{{.}}" class="ss-octocat ss-social-circle" title="Fork @{{.}} on Github"></a>
  </li>
  {{/github}}
</ul>