@import "../defaults"

// slider controls, adjecent nodes are styled by checked radio input.
nSlides = 4
max = nSlides - 1
for i in 0..(max)
  #panel{i}:checked
    ~ article .slidedeck
      margin-left: i * -100%


    // Active Indicators below the slider
    k = i + 1
    ~ article .indicator li:nth-child({k}) label
      background-color: $indicator
      background-image: -webkit-radial-gradient(center, ellipse cover, lighten($indicator, 5) 0%, $indicator 100%)
      box-shadow: inset 0 1px 1px darken($indicator, 10)

    ~ .carousel-control label
      // Next arrow, right of the carousel.
      k = i < max ? i + 2 : 1
      &:nth-child({k})
        display: block
        float: right
        margin: 0 -145px 0
        text-align: right

        &:before
          transform: rotate(-180deg)
          display: inline-block
          text-shadow: #B2D1E8 -1px 1px 0

      // Previous arrow, left of the carousel.
      k = i == 0 ? nSlides : i
      &:nth-child({k})
        display: block

// only do the transitions after the webfonts are fully loaded or this will cause
// some funky effects when you go back to the page
.cortex-loaded .carousel .slidedeck
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000)
  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000)

// hide radio buttons that are being abused as status control
input[name=panel]
  display: none

.carousel
  $height = 300px // slide height

  background: $background
  border-radius: 5px
  border-bottom: 2px solid $divider
  color: $base-color
  height: $height
  margin-bottom: 10px
  overflow: hidden
  position: relative
  // force hardware rendering on the whole carousel
  transform: translateZ(0)
  // ensures that it's above the carousel-control
  z-index: 1
  width: 100%

  a
    text-shadow:none;

  .slidedeck
    margin-top: 20px
    position: relative
    // times 4 the relative size to fit 4 panes of features
    width: 400%

  .slide
    float: left
    left: 0
    height: $height
    margin-bottom: 30px
    position: relative
    top: 0
    width: 25% // Each pane is a quarter of the total size

  // The slides indicator
  .indicator
    bottom: 0
    left: 30%
    list-style: none
    padding-left: 0
    position: absolute
    text-align: center
    right: 30%

    li
      display: inline-block
      margin: 0 3px

    label
      background: $divider
      border-radius: 10px
      box-shadow: inset 0 1px 1px darken($divider, 20)
      cursor: pointer
      display: inline-block
      height: 8px
      overflow: hidden
      text-indent: -9999px
      width: @height
      transition: all 0.5s ease-out

.carousel-control
  margin: -257px auto 0
  overflow: visible
  position: relative

  // ensures that it's under the actual carousel
  z-index: 0

  .control
    background: url($sprite-carousel-control) no-repeat
    color: #D6E8F6
    cursor: pointer
    display: none
    float: left
    font-size: 34px
    height: 220px
    margin: 0 0 0 -145px
    padding: 50px 95px 0
    text-align: left
    text-shadow: #B2D1E8 -1px -1px 0
    width: 290px

@media handheld, only screen and (max-width: 767px)
  .carousel
    &.twelvecol
      padding: 0

    .slide
      padding: 0 20px

  .carousel-control
    display: none