support-for-ie = true

/**
 * The grid configuration which is used in the 1140 grid system.
 *
 * $gutter-width = the width of a gutter.
 * $column-width = the width of a single column.
 */
$gutter-width = 55px
$column-width = 45px

/**
 * Content Delivery Module configuration.
 *
 * $cdn = The location of our CDN server
 */
$cdn = '//versions.nodejitsu.com/id:npm'

/**
 * Colors
 */
// base
$link = #5095B8
$background = #FFFFFF
$link-hover = darken($link, 50%)
$divider = #EAEAEA
$base-color = #444444
$red = #CB3837

// pills
$pill-background = #EEF7FF
$pill-color = #93B7CA

// forms
$input-box-shadow = rgba(0, 0, 0, 0.075)

// alerts
$alert-notice-background = #FFF9D6
$alert-notice-border = #FFE96E
$alert-notice-color = #DAC344
$alert-error-background = #F2DEDE
$alert-error-border = #EED3D7
$alert-error-color = #B94A48
$alert-success-background =#DFF0D8
$alert-success-border = #D6E9C6
$alert-success-color = #468847
$alert-info-background = #D9EDF7
$alert-info-border = #BCE8F1
$alert-info-color =#3A87AD

/**
 * Typography
 * NOTE The font stack is loaded from typekit
 */
$font-family = "proxima-nova-1","proxima-nova-2",sans-serif

/**
 * Borders
 */
$radius = 3px

/**
 * Buttons
 */
$btn-default-bg-top = rgba(255, 255, 255, .8)
$btn-default-bg-bottom = #DCECF4
$btn-default-border = #D7E3EA
$btn-default-box-shadow = #BACDD9
