@import "defaults"

form
  &.fivecol
    margin: 80px auto
    width: 50%
    float: none

    h1
      text-align: center

  button
    display: block
    margin-top: 25px

  fieldset
    padding: 0
    border: 0

  label
    display: block
    font-weight: bold
    margin-bottom: 15px

  input
  textarea
  select
    display: block
    border-radius: 5px
    border: 1px solid $divider
    box-shadow: inset 2px 2px 5px $input-box-shadow;
    color: $base-color
    padding: 8px 10px
    width: 100%

    &[readonly]
      color: $input-color

  .box
    padding: 30px
    width: 100%

  .spinner
    background-image: url($sprite-spinner);
    background-position: 95% center
    background-repeat: no-repeat

  .forgotten
    float: right
    font-weight: normal
    margin-top: 30px

  // should be readable, but not that noticible
  .fine-print
    display: inline-block
    text-align: center

  label.checkbox
  label.radio
    font-weight: normal
    vertical-align: top
    height: 20px

    &:first-of-type
      margin-top: 10px

    &:hover span:before
      content: '✓'
      display: inline-block

    span
      color: #FFF
      background-color: #DDD
      border-radius: 3px
      display: inline-block
      font-family: SSStandard
      height: @height
      width: @height

      &:before
        content: ' '
        margin-left: 3px

    input
      display: none

      &:checked + span
        background: $link

        &:before
          content: '✓'
          display: inline-block

  label.radio
    &:hover span:before
      content: '●'
      font-size: 14px

    input:checked + span:before
      content: '●'
      font-size: 14px

    span
      border-radius: 50%
