<footer class="doormat">
  <section class="row">
    <%
      var n = navigation.length > 5 ? 5 : navigation.length;
      for (var i = 0; i < n; i++) {
        var column = navigation[i];
    %>
    <dl class="twocol">
      <dt><%- column.name %></dt>
      <% Object.keys(column.links).forEach(function footerColumnLinks(key) { %>
      <dd>
        <a href="<%- column.links[key] %>"><%- key %></a>
      </dd>
      <% }) %>
    </dl>
    <% } %>

    <section class="newsletter twocol right">
      <div data-pagelet="mailchimp"></div>
      <div data-pagelet="social"></div>
      <div class="copyright right">
        {{{copyright}}}
      </div>
    </section>
  </section>

  {{#if credits}}
  <section class="credits row">{{credits}}</section>
  {{/if}}
</footer>