<div class="faux-columns">
  <section class="row<%= 'class' in locals ? ' ' + locals.class : '' %>">
    <aside class="sidebar twocol">
      <%- one %>
    </aside>
    <article class="column tencol last">
      <%- two %>
    </article>
  </section>
</div>
