@import "../defaults"

// The content in the footer is lighter then the rest, yo
$light-base = lighten($base-color, 50%)

.doormat
  font-size: 13px
  border-top: 1px solid $divider
  margin: 0 -20px 0
  padding: 20px

  dl
    margin-right: 0
    min-height: 200px

  .newsletter
    min-width: 235px
    width: 28%

  dt
    font-weight: bold
    margin-bottom: 30px
    text-transform: uppercase

  dd
    margin: 0

    a
      color: $light-base
      font-weight: normal
      text-decoration: none

      &:hover
        text-decoration: underline

.copyright
  color: $light-base
  white-space: nowrap

.credits
  text-align: center

@media handheld, only screen and (max-width: 767px)
  .doormat
    margin: 0

    .twocol
      float: left
      width: 50%

    .newsletter
      float: left
      width: 100%