<nav class="breadcrumb row">
  <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a>
  </span>
  {{#each links}}
    <s role="presentation">&rsaquo;</s>
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="{{href}}" itemprop="url"><span itemprop="title">{{text}}</span></a>
    </span>
  {{/each}}
</nav>
