@import "defaults"

.faux-columns
  display: table
  margin: 0 auto // same as the .row

  > .row
    margin: 0 -20px

  &.spaced
    border-spacing: 25px
    margin: 0 (-(@border-spacing - 1)) 80px

  .column
    display: table-cell
    padding-bottom: 80px
    padding-top: 60px
    float: none

  .full-height
    display: table-cell
    float: none
    vertical-align: top

    &~ span
      display: block
      height: 100px
      width: 100px
      background: red
      margin: 0

  .column
    padding-left: 35px

.sub-items
  box-shadow: inset 0px 0px 10px rgba(0,0,0,.09)

@media handheld, only screen and (max-width: 767px)
  .box
    margin: 20px !important
    padding: 20px !important

  .faux-columns
    display: block

    > .row
      padding: 0
      margin: 0

    &.spaced
      border-spacing: 25px
      margin: 0

    .column
    .full-height
      display: block
      float: none
      padding: 0 20px