.mailchimp
  min-width: 235px
  margin-bottom: 3em
  position: relative

  legend
    font-weight: bold
    margin-bottom: 30px
    text-transform: uppercase

  button
    absolute: top -22px right 3px

  input[type=email]
    margin-right: 102px
    padding-right: @margin-right