<form action="{{action}}" method="POST" class="mailchimp">
  <fieldset>
    <legend>Stay connected, join our mailing list</legend>
    <input type="hidden" name="u" value="{{u}}">
    <input type="hidden" name="id" value="{{id}}">
    <input type="email" autocapitalize="off" autocorrect="off" placeholder="Your e-mail address" name="MERGE0" required>
    <div data-pagelet="submit"></div>
    <%- app.submit({ type: 'icon', class: 'right', text: 'subscribe' }) %>
  </fieldset>
</form>