<a href="#" class="login right btn" title="Login with your credentials">
  <s class="ss-lock" role="presentation"></s>
  Login
</a>

{{#logout}}
<a href="/logout" class="login right btn" title="Logout">
  <s class="ss-unlock" role="presentation"></s>
  Logout
</a>
{{/logout}}

<div class="lightbox gone"></div>

<section class="modal box gone">
  <h3>
    Gimme your credentials
    <s class="spinner right gone"></s>
    <a href="#" class="close ss-delete"></a>
  </h3>

  <p>Log in below to your Nodejitsu account and start rocking.</p>

  <%- app.alert({ type: 'notice', class: 'error gone' }) %>
  <form method="POST" action="/signin">
    <label>
      Username
      <input name="username" placeholder="username" autofocus="autofocus" />
    </label>

    <label>
      Password
      <input name="password" placeholder="password" type="password" />
    </label>

    <section data-pagelet="submit"></section>

    <a href="#" class="forgotten">Forgot password?</a>
  </form>
</section>

<script type="plates/cortex" id="plates-forgot">
  <h3>
    Forgot your password?
    <a href="#" class="close ss-delete"></a>
  </h3>

  <p>Tell us your username and we will reset it for you.</p>

  <%- app.alert({ type: 'notice', class: 'error' }) %>
  <%- app.alert({ type: 'success', class: 'success' }) %>

  <form method="POST" action="/forgot">
    <label>
      Username
      <input name="username" placeholder="username" autofocus="autofocus" />
    </label>

    <section data-pagelet="password"></section>
  </form>
</script>