.leader
  overflow: hidden
  padding: 1.5em

  h4, p
    clear: left
    float: left
    margin: 0
    width: 70%

  p
    margin: 1em 0

  a.btn
    margin-top: -1.5em

@media handheld, only screen and (max-width: 767px)
  .leader a.btn
    clear: left
    float: left
    margin-top: 1em
